---
import { colegios } from "../data/colegios";

const technologies = colegios.map(c => ({
  name: c.nombre,
  file: c.logo.split('/').pop().replace('.png', '')
}));
---

<div class="relative overflow-x-hidden mt-12 mb-2">
  <div
    class="pointer-events-none absolute inset-y-0 left-0 w-32 bg-gradient-to-r from-[var(--background)] to-transparent z-20"
  >
  </div>
  <div
    class="pointer-events-none absolute inset-y-0 right-0 w-32 bg-gradient-to-l from-[var(--background)] to-transparent z-20"
  >
  </div>

  <div class="flex animate-scroll hover:animate-paused gap-12 md:gap-20 w-max">
    {
      [...technologies, ...technologies, ...technologies].map((tech) => (
        <div class="flex flex-col items-center gap-2 group transition-all duration-300">
          <img
            src={`/images/LogosClientes/${tech.file}.png`}
            alt={tech.name}
            class="h-12 w-auto object-contain transition-transform opacity-60 rounded-lg border-2 border-slate-300"
            width="30"
            height="30"
            loading="lazy"
          />
          <span class="text-sm font-medium text-slate-500">
            {tech.name}
          </span>
        </div>
      ))
    }
  </div>
</div>

<style is:global>
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .animate-scroll {
    animation: scroll 60s linear infinite;
  }

  @media (min-width: 768px) {
    .animate-scroll {
      animation-duration: 50s;
    }
  }
</style>
