---
import ClientesSlide from "../components/ClientesSlide.astro";
---
<section
  id="cursos"
  class=" bg-[--background-light] py-12 border-t text-[--text-dark] px-10 patron-puntos"

>
  <div class="max-w-5xl mx-auto ">
    <h2 class="text-lg font-bold text-[var(--sec)] mb-2 shiny-sec-text-edu">CodeMaker_Edu</h2>
    <h3 class="text-4xl md:text-5xl font-medium mb-8">Cursos y Actividades extraescolares</h3>
    <div class="text-md md:text-lg text-left md:text-left">
      CodeMaker es un innovador proyecto educativo, dirigido a <span class="font-bold text-orange-500">alumnos de primaria y secundaria</span>, que engloba todas las <span class="font-bold text-blue-500">nuevas tecnologías</span> que están marcando tendencia y que se prevé que tengan un mayor impacto en la sociedad (programación, robótica, impresión 3D, Inteligencia Artificial), a la vez que fomenta capacidades como la creatividad, el razonamiento lógico y las consideradas habilidades <span class="font-bold text-yellow-500">STEAM</span>.
      </div>

    <br />
    <br />

    <div class="flex flex-col items-center gap-6">
      <!-- Vídeo con borde animado -->
      <div class="w-full rounded-2xl overflow-hidden shadow-lg mb-4">
        <div class="relative rounded-2xl p-[2px] shiny-sec-border-edu">
          <div class="rounded-[0.9rem] overflow-hidden bg-slate-100 h-96">
            <video
              src="/videos/presentacion-codemaker.mp4"
              autoplay
              muted
              loop
              playsinline
              class="w-full h-full object-cover object-center"
            ></video>
            <div class="absolute inset-0 bg-slate-500/60 pointer-events-none"></div>
          </div>
        </div>
      </div>
    </div>

      


      <!-- Texto y contenido en 2 columnas -->
      <br />
      <br />
       <div>
      <br />
      <div class="grid grid-cols-1 md:grid-cols-2 items-center w-full gap-8">
        <!-- Columna izquierda -->
        <div class="text-md md:text-lg text-left">
          Únete a los más de <span class="font-bold text-green-500">1000 alumnos</span> que ya han participado en nuestras actividades y cursos en diferentes entidades educativas con las que colaboramos.
        </div>

        <!-- Columna derecha -->
        <div class="flex flex-col items-center gap-4 w-full relative overflow-x-hidden">
          <!-- Clientes con efecto degradado lateral -->


          <!-- Botón expandido -->
          <a
            target="_blank"
            href=""
            aria-label="Ver actividades"
            class="w-full text-center inline-flex justify-center items-center text-slate-100 hover:text-slate-100 transition duration-300 ease-in-out border border-green-600 px-6 py-3 rounded-xl bg-green-600 hover:bg-green-500"
          >
            Ver actividades, centros y horarios (próximamente)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="ml-2 size-5"
            >
              <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" />
            </svg>
          </a>
        </div>
      </div>
  </div>
</div>


</section>

<style is:global>

.patron-puntos {
  background-image: radial-gradient(#cbd5e1 0.5px, transparent 0.5px);
  background-size: 10px 10px;
}


  .shiny-sec-border-edu {
    background: linear-gradient(135deg, #F87171 15%, #FB923C 30%, #FACC15 45%, #4ADE80 60%, #38BDF8 75%, #C084FC 100%);
    background-size: 400%;
    animation: shine-border-edu 6s linear infinite;
  }

  @keyframes shine-border-edu {
    0% {
      background-position: 100% 50%;
    }
    30%, 70% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .shiny-sec-text-edu {
    background: linear-gradient(135deg, #F87171 15%, #FB923C 30%, #FACC15 45%, #4ADE80 60%, #38BDF8 75%, #C084FC 100%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine-text-edu 3s linear infinite;
  }

  @keyframes shine-text-edu {
    0% {
      background-position: 100% 50%;
    }
    30%, 70% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
</style>
