---
---
<footer class="w-full border-t border-slate-700 bg-[--background-dark] text-slate-700 p-10">
  <div class="max-w-5xl mx-auto flex justify-center">
    <span class= "text-sm text-center">
      Codemaker® es una marca registrada. Todos los derechos reservados. <br />
      <br />

      Proyecto desarrollado por docentes y desarrolladores en Jaén.
    </span>
  </div>
</footer>
