---
import TecnologiasSlide from "../components/TecnologiasSlide.astro";
import LetterEffect from "../components/LetterEffect.astro";
---

<section 
  class="bg-[#007AFB] text-[--text-light] p-4 xl:pt-14" 
  id="home" 
>
  <div class="max-w-5xl mx-auto space-y-8 py-16 md:py-10">
    <div class="flex flex-col lg:flex-row items-center gap-8 p-4">
      <!-- Text on the left -->
      <div class="flex flex-col w-full lg:w-1/2 space-y-4 text-left">
        <div class="mt-8">
          <img 
            src="/svg/Logo.svg" 
            alt="CodeMaker Logo" 
            class="h-24 md:h-24 w-auto object-contain"
          />
        </div>
        <p class="text-md md:text-2xl text-[var(--white-icon)]">
          Proyecto de innovación educativa sobre programación, robótica, 3D e
          inteligencia artificial.
        </p>
      </div>

      <!-- LetterEffect on the right -->
      <div
        class="flex justify-center w-full lg:w-1/2 md:h-[292px] size-[290px] pt-3 md:pt-9"
      >
        <LetterEffect />
      </div>
    </div>
    
    
    <div class="pt-0">
      <TecnologiasSlide />
    </div>
  </div>

   
  
</section>

<style is:global>
  .mask-fade-sides {
  mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
}

  .shiny-line {
  background: linear-gradient(135deg, #007AFB 15%, #00477A 100%);
}

  .shiny-sec {
    background: linear-gradient(135deg, #007AFB 15%, #FFFFFF 50%, #00477A 100%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
</style>
